<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="./tests/bootstrap.php"
        backupStaticAttributes="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
    >
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>